p{
  font-family: Arial;
  text-align: center;
  margin-bottom: 0px;
}
.title{
  
  font-size: 35px;
  font-weight: bold;

}
.new{
  font-size: 15px;
  font-weight: bold
}
.one{
  color: blue;
  cursor: pointer;
  transition: underline;
  
}
.one:hover{
  text-decoration: underline;
}
